# Hi there, I'm Yuta Kusuno! 👋

## Software Developer

- 💻 See my portfolio [yutakusuno.com](http://yutakusuno.com)
- 📩 How to reach me yutakusuno51@gmail.com
- 📄 Know about my experiences [LinkedIn](https://www.linkedin.com/in/yutakusuno/)

### Language and Tools

<a href="https://skillicons.dev">
  <img src="https://skillicons.dev/icons?i=js,ts,react,materialui,graphql,ruby,py,nodejs,mysql,mongo,aws,docker,redis,elasticsearch,jenkins" />
</a>

### My Latest Dev.to Post

{{ template "article-list" .Articles }}
